
// header
.blog {
header {
    background-image: url(../assets/blog-header.jpg);
    h1 {
        padding: 60px 10px;
        font-weight: $regular;
    }
}

// main
main {
    background-color: $green;
    color: $white;
    .mainFlex {
        display: flex;
        justify-content: space-between;
        align-items: self-start;
    }
}

// aside

aside {
    background: $darkgreen;
    color: $white;
    margin-top: 150px;
    margin-left: 60px;
    width: 25%;
    .asideImage{
        position: relative;
        right: 80px;
        bottom: 20px;
        img {
            width: 115%;
        }
    }
    h3 {
        padding-bottom: 20px;
    }
}

.asideText {
    padding: 25px;
    .recentPosts {
        padding-top: 80px;
        li {
            font-family: $secondaryFont;
            font-weight: $regular;
            line-height: 1.4rem;
            letter-spacing: 1px;
            font-size: 0.9rem;
            &:before {
                content: "•";
                padding-right: 20px;
            }
        }
    }
}

// Main Section

.rightSection {
    width: 60%;
}

.careers {
    position: relative;
    right: 0;
    bottom: 150px;
    img {
        box-shadow: -25px 25px $yellow;
    }
    .sectionText {
        padding: 100px 75px 150px;
        border-left: 5px solid $yellow;
        border-bottom: 5px solid $yellow;
        margin-left: -25px;
        h2 {
            color: $yellow;
        }
        p {
            padding: 25px 0;
        }
    }
}

//Comments

.commentSection {
    position: relative;
    bottom: 100px;
    h2{
        padding-bottom: 40px;
    }
    .comment {
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .commentImage {
            width: 10%;
        }
        .commentText {
            width: 85%;
            padding-right: 50px;
        }
        .date {
            color: $yellow;
        }
    }
}

// Form

form {
    bottom: 100px;
    padding-right: 70px;
}

input {
    &:hover,
    &:focus {
        background-color: $darkgreen;
    }
}

textarea {
    &:hover,
    &:focus {
        background-color: $darkgreen;
    }
}

button {
    @include button($yellow, $darkgreen);
    width: 100%;
    cursor: pointer;
}


@media (max-width: 980px) {
    .asideHeading{
        font-size: 1rem;
    }
}


@media (max-width: 768px) {
    // header
    header h1 {
        padding-top: 200px;
    }

    // main
    main{
        .mainFlex {
            flex-direction: column;
            align-items: center;
        }
    }

    aside {
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        .asideImage{
            position: static;
            width: 40%;
            img {
                width: 100%;
            }
        }
        .asideText {
            width: 60%;
        }
    }

    .rightSection {
        width: 100%;
    }

    .careers {
        position: static;
    }

    
    .commentSection {
        position: static;
        padding: 100px 0;
        .comment {
            .commentImage {
                width: 15%;
            }
            .commentText {
                width: 80%;
                padding-right: 0px;
            }
        }
    }

    form {
        padding: 20px;
        input{
            width: 100%;
        }
    }
}

@media(max-width: 480px) {
    aside {
        .asideImage{
            display: none;
        }
        .asideText {
            width: 100%;
            .recentPosts {
                padding-top: 50px;
            }
        }
    }


    h2{
        font-size: 1.75rem;
    }

    
    .careers {
        .sectionText {
            padding-bottom: 100px;
        }
    }

}

}