
//header
.contact {
header {
    background-image: url(../assets/contact-header.jpg);
    h1 {
        padding: 60px 10px;
        font-weight: $regular;
    }
}

// main

main {
    background-color: $green;
}

.contactFlex {
    display: flex;
    justify-content: space-between;
}

.contactTextCol {
    padding: 100px 0 0 80px;
    color: $white;
    .socials {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding-bottom: 20px;
        a {
            color: $yellow;
        }
    }
    .address {
        padding-top: 20px;
    }
}

form {
    width: 85%;
    bottom: 120px;
    left: 10%;
    align-items: center;
    padding: 70px;
    background-color: $darkgreen;
    box-shadow: 20px 20px $yellow;
}

input {
    &:hover,
    &:focus {
        background-color: $green;
    }
}

textarea {
    &:hover,
    &:focus {
        background-color: $green;
    }
}

button {
    @include button($yellow, $darkgreen);
    width: 100%;
    cursor: pointer;
}


@media(max-width: 980px) {
    .contactFlex {
        flex-direction: column;
    }
    
    .form {
        order: -1;
        position: static;
        width: 100%;
        form {
            position: static;
            width: 100%;
            box-shadow: none;
            padding: 20px;
            input {
                width: 100%;
            }
        }
    }
    
    .contactTextCol {
        padding: 50px 0;
        text-align: center;
        .socials {
            width: 100%;
            justify-content: center;
            li {
                padding: 0 10px;
            }
        }
    }
}
@media (max-width: 768px) {
    header h1 {
        padding-top: 200px;
    }
}

}