// Colors
$yellow: #FFD300;
$white: #FFFFFF;
$green: #2B331B;
$black: #0F0F0F;
$darkgreen: #171B0E;

// Fonts
$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Barlow', sans-serif;

// Font Weight
$regular: 400;
$semiBold: 600;
$bold: 700