@import "setup";
@import "variables";
@import "mixins";
@import "universalStyles";

//header
.contact {
header {
    background-image: url(../assets/contact-header.jpg);
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    .headerFlex {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    ul {
        display: flex;
        li {
            padding: 50px 18px;
            a {
                color: $white;
                &:hover,
                &:focus {
                border-bottom: 1px solid $yellow;
                }
            }
        }
    }
    h1 {
        padding: 60px 10px;
        font-weight: $regular;
    }
}
.hamburger {
    display: none;
}

.hamburger li {
    font-family: $primaryFont;
    text-align: center;
}

.hamburger a:hover,
.hamburger a:focus {
    border-bottom: 2px solid $yellow;
}

// main

main {
    background-color: $green;
    display: flex;
    justify-content: space-between;
}

.contactTextCol {
    padding: 100px 0 0 80px;
    color: $white;
    .socials {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding-bottom: 20px;
        a {
            color: $yellow;
        }
    }
    .address {
        padding-top: 20px;
    }
}

form {
    width: 85%;
    position: relative;
    bottom: 120px;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    background-color: $darkgreen;
    box-shadow: 20px 20px $yellow;
}

input {
    border-bottom: 2px solid $yellow;
    color: $white;
    width: calc((100% / 2) - 2%);
    padding: 30px;
    letter-spacing: 1.2px;
    &::placeholder {
        letter-spacing: 1.2px;
        opacity: 1;
    }
    &:hover,
    &:focus {
        border: 2px solid $yellow;
        background-color: $green;
    }
}

textarea {
    resize: none;
    width: 100%;
    height: 250px;
    border: 2px solid $yellow;
    padding: 30px;
    margin: 4% 0;
    color: $white;
    letter-spacing: 1.2px;
    &::placeholder {
        letter-spacing: 1.2px;
        opacity: 1;
    }
    &:hover,
    &:focus {
        background-color: $green;
    }
}

button {
    @include button($yellow, $darkgreen);
    width: 100%;
    cursor: pointer;
}

// footer

footer {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 5px 0;
}


@media (max-width: 768px) {

    .hamburger {
        display: inline-block;
        font-size: 2.5rem;
    }
    ul.sliding-menu {
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        right: -100vw;
        height: 100vh;
        width: 100vw;
        transition: all 0.3s ease-out;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
    }

    input[type="checkbox"]:checked + ul.sliding-menu {
        right: 0;
    }

    input[type="checkbox"] {
        display: none;
        position: relative;
    }

    label[for="toggle"] {
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: white;
        z-index: 10;
    }
}

@media(max-width: 980px) {
    main {
        flex-direction: column;
    }

    .form {
        order: -1;
        position: static;
        width: 100%;
        form {
            position: static;
            width: 100%;
            box-shadow: none;
        }
    }

    .contactTextCol {
        padding: 50px 0;
        text-align: center;
        .socials {
            width: 100%;
            justify-content: center;
            li {
                padding: 0 10px;
            }
        }
    }
}

}