@import "setup";
@import "variables";
@import "mixins";
@import "universalStyles";

// Home Page

// header
header {
    background-image: url(../assets/home-header.jpg);
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    ul {
        display: flex;
        li {
            padding: 50px 18px;
            a {
                color: $white;
                &:hover,
                &:focus {
                border-bottom: 1px solid $yellow;
                }
            }
        }
    }
    h1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
            color: black;
            background-color: white;
            padding: 10px 5px 0 5px;
            display: inline-block;
        }
    }
    .headerImage {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: -20px;
        img {
            width: 100%;
        }
    }
}
.hamburger {
    display: none;
}

.hamburger li {
    font-family: $primaryFont;
    text-align: center;
}

.hamburger a:hover,
.hamburger a:focus {
    border-bottom: 2px solid $yellow;
}

// Main

// Section 1

.about {
    background-color: $green;
    color: $white;
    padding: 250px 0 150px;
    .aboutFlex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .aboutContainer {
            width: calc((100% / 2) - 50px);
            padding: 25px;
            position: relative;
            i {
                position: absolute;
                left: -50px;
                font-size: 1.2rem;
                background-color: $yellow;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                text-align: center;
                padding-top: 12px;
                color: $darkgreen;
            }
            h2 {
                padding-bottom: 20px;
            }
        }
    }
}

// Section 2
.menu {
    background-color: $darkgreen;
    color: white;
    .menuFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .menuContainer {
        width: 45%;
        }
        .menuImageContainerLeft {
            position: relative;
            bottom: 30px;
            box-shadow: 20px 20px $yellow;
        }
        .menuTextContainerRight {
            padding-right: 150px;
        }
        .menuTextContainerLeft {
            padding-left: 150px;
            text-align: right;
        }
        .menuImageContainerRight {
            position: relative;
            top: 30px;
            box-shadow: -20px 20px $yellow;
        }
    }
    p {
        padding: 25px 0;
    }
}

// section 3
.contest {
    text-align: center;
    background-color: $green;
    padding: 120px 0;
    h2{
        color: $yellow;
    }
    p {
        color: $white;
        padding: 25px 0;
    }
}

// section 4
.eco {
    background: $green;
    padding: 100px 0;
    .ecoFlex {
        display: flex;
        .ecoImageContainer {
            width: 25%;
            img {
                box-shadow: -20px 20px $yellow;
            }
        }
        .ecoTextContainer {
            width: 75%;
            padding-left: 100px;
        }
    }
    h2 {
        color: $yellow;
    }
    p {
        color: $white;
        margin: 15px 0;
    }
}

// section 5

.photoGallery {
    background-color: $darkgreen;
    padding: 100px 0;
    .photoFlex {
        display: flex;
        justify-content: space-between;
        img {
            width: calc((100% / 3) - 30px);
        }
    }
}

// footer
footer {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 5px 0;
}

@import "blog";
@import "contact";


@media (max-width: 980px) {
    .wrapper {
        width: 95%;
    }
    // header
    .headerImage {
        display: none;
    }
    // Section 1
    .about {
        padding: 80px 0;
        .aboutFlex {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            .aboutContainer {
                width: 80%;
                margin: 30px auto;
                text-align: center;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                .aboutHeading {
                    display: flex;
                    justify-content: center;
                }
                i {
                    position: static;
                    margin-right: 20px;
                    flex: 1 0 auto;
                }
            }
        }
    }
    // Section 2
    .menu {
        padding: 80px 0;
        .menuFlex {
            .menuTextContainerRight {
                padding-right: 0;
            }
            .menuTextContainerLeft {
                padding-left: 0;
            }
        }
    }
    // Section 3
    .smallWrapper {
        width: 90%;
    }
}

@media (max-width: 768px) {
    // header
    .navigation {
        visibility: hidden;
    }

    .hamburger {
        display: inline-block;
        font-size: 2.5rem;
    }
    ul.sliding-menu {
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        right: -100vw;
        height: 100vh;
        width: 100vw;
        transition: all 0.3s ease-out;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
    }

    input[type="checkbox"]:checked + ul.sliding-menu {
        right: 0;
    }

    input[type="checkbox"] {
        display: none;
        position: relative;
    }

    label[for="toggle"] {
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: white;
        z-index: 10;
    }
    // Section 2
    .menu {
        .menuFlex {
            flex-direction: column;
            .menuContainer {
                width: 90%;
                text-align: center;
                margin: 50px 0;
            }
            .menuImageContainerLeft {
                order: 1;
                position: static;
            }
            .menuTextContainerRight {
                order: 2;
            }
            .menuImageContainerRight {
                order: 3;
                position: static;
            }
            .menuTextContainerLeft {
                order: 4;
            }
        }
    }
    // Section 4
    .eco {
        .ecoFlex {
            flex-direction: column;
            align-items: center;
            .ecoImageContainer {
                width: 50%;
            }
            .ecoTextContainer {
                padding: 100px 0 0 0;
                text-align: center;
                width: 100%;
            }
        }
    }
    // Section 5
    .photoGallery {
        .photoFlex {
            flex-direction: column;
            align-items: center;
            img {
                width: 50%;
                padding: 25px 0;
            }
        }
    }
}

@media (max-width: 480px) {}