@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.smallWrapper {
  max-width: 1280px;
  width: 60%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1,
h2,
h3,
ul,
p,
a,
input,
textarea {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.45rem;
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

nav {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.45rem;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  letter-spacing: 1px;
}

.date {
  font-weight: 700;
}

img {
  width: 100%;
  display: block;
}

.asideHeading {
  color: #FFD300;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.readMore,
.button {
  background-color: #FFD300;
  color: #171B0E;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
}
.readMore:hover, .readMore:focus,
.button:hover,
.button:focus {
  background-color: #ffd5007d;
}

.findOutMore {
  background-color: #0F0F0F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
}
.findOutMore:hover, .findOutMore:focus {
  background-color: #262626;
}

.blog header {
  background-image: url(../assets/blog-header.jpg);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.blog header .headerFlex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog header ul li {
  padding: 50px 18px;
}
.blog header ul li a {
  color: #FFFFFF;
}
.blog header ul li a:hover, .blog header ul li a:focus {
  border-bottom: 1px solid #FFD300;
}
.blog header h1 {
  padding: 60px 10px;
  font-weight: 400;
}
.blog .hamburger {
  display: none;
}
.blog .hamburger li {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
.blog .hamburger a:hover,
.blog .hamburger a:focus {
  border-bottom: 2px solid #FFD300;
}
.blog main {
  background-color: #2B331B;
  color: white;
}
.blog main .mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}
.blog aside {
  background: #171B0E;
  color: #FFFFFF;
  margin-top: 150px;
  margin-left: 60px;
  width: 25%;
}
.blog aside .asideImage {
  position: relative;
  right: 80px;
  bottom: 20px;
}
.blog aside .asideImage img {
  width: 115%;
}
.blog aside h3 {
  padding-bottom: 20px;
}
.blog .asideText {
  padding: 25px;
}
.blog .asideText .recentPosts {
  padding-top: 80px;
}
.blog .asideText .recentPosts li {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.blog .asideText .recentPosts li:before {
  content: "•";
  padding-right: 20px;
}
.blog .rightSection {
  width: 60%;
}
.blog .careers {
  position: relative;
  right: 0;
  bottom: 150px;
}
.blog .careers img {
  -webkit-box-shadow: -25px 25px #FFD300;
          box-shadow: -25px 25px #FFD300;
}
.blog .careers .sectionText {
  padding: 100px 75px 150px;
  border-left: 5px solid #FFD300;
  border-bottom: 5px solid #FFD300;
  margin-left: -25px;
}
.blog .careers .sectionText h2 {
  color: #FFD300;
}
.blog .careers .sectionText p {
  padding: 25px 0;
}
.blog .commentSection {
  position: relative;
  bottom: 100px;
}
.blog .commentSection h2 {
  padding-bottom: 40px;
}
.blog .commentSection .comment {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .commentSection .comment .commentImage {
  width: 10%;
}
.blog .commentSection .comment .commentText {
  width: 85%;
  padding-right: 50px;
}
.blog .commentSection .comment .date {
  color: #FFD300;
}
.blog form {
  position: relative;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 70px;
}
.blog input {
  border-bottom: 2px solid #FFD300;
  color: #FFFFFF;
  width: calc((100% / 2) - 2%);
  padding: 20px;
  letter-spacing: 1.2px;
}
.blog input::-webkit-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
.blog input::-moz-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
.blog input:-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
.blog input::-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
.blog input::placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
.blog input:hover, .blog input:focus {
  border: 2px solid #FFD300;
  background-color: #171B0E;
}
.blog textarea {
  resize: none;
  width: 100%;
  height: 250px;
  border: 2px solid #FFD300;
  padding: 20px;
  margin: 4% 0;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}
.blog textarea::-webkit-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
.blog textarea::-moz-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
.blog textarea:-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
.blog textarea::-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
.blog textarea::placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
.blog textarea:hover, .blog textarea:focus {
  background-color: #171B0E;
}
.blog button {
  background-color: #FFD300;
  color: #171B0E;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding: 12px;
  width: 100%;
  cursor: pointer;
}
.blog footer {
  background-color: #0F0F0F;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0;
}
@media (max-width: 980px) {
  .blog .asideHeading {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .blog header h1 {
    padding-top: 200px;
  }
  .blog .navigation {
    display: none;
  }
  .blog .hamburger {
    display: inline-block;
    font-size: 2.5rem;
  }
  .blog ul.sliding-menu {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 100vw;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 1;
  }
  .blog input[type=checkbox]:checked + ul.sliding-menu {
    right: 0;
  }
  .blog input[type=checkbox] {
    display: none;
    position: relative;
  }
  .blog label[for=toggle] {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    z-index: 10;
  }
  .blog main .mainFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog aside {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog aside .asideImage {
    position: static;
    width: 40%;
  }
  .blog aside .asideImage img {
    width: 100%;
  }
  .blog aside .asideText {
    width: 60%;
  }
  .blog .rightSection {
    width: 100%;
  }
  .blog .careers {
    position: static;
  }
  .blog .commentSection {
    position: static;
    padding: 100px 0;
  }
  .blog form {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .blog aside .asideImage {
    display: none;
  }
  .blog aside .asideText {
    width: 100%;
  }
  .blog aside .asideText .recentPosts {
    padding-top: 50px;
  }
  .blog .careers .sectionText {
    padding-bottom: 100px;
  }
}