@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.smallWrapper {
  max-width: 1280px;
  width: 60%;
  margin: 0 auto;
}

.largeWrapper {
  max-width: 1500px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1,
h2,
h3,
ul,
p,
a,
input,
textarea {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.45rem;
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

img {
  width: 100%;
  display: block;
}

nav {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.45rem;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  letter-spacing: 1px;
}

.date {
  font-weight: 700;
}

.asideHeading {
  color: #FFD300;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.readMore,
.button {
  background-color: #FFD300;
  color: #171B0E;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
}
.readMore:hover, .readMore:focus,
.button:hover,
.button:focus {
  background-color: #ffd5007d;
}

.findOutMore {
  background-color: #0F0F0F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
}
.findOutMore:hover, .findOutMore:focus {
  background-color: #262626;
}

header {
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
header .headerFlex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header ul li {
  padding: 50px 18px;
}
header ul li a {
  color: #FFFFFF;
}
header ul li a:hover, header ul li a:focus {
  border-bottom: 1px solid #FFD300;
}

form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  border-bottom: 2px solid #FFD300;
  color: #FFFFFF;
  width: calc((100% / 2) - 2%);
  padding: 20px;
  letter-spacing: 1.2px;
}
input::-webkit-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
input::-moz-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
input:-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
input::-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
input::placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
  font-size: 1rem;
}
input:hover, input:focus {
  border: 2px solid #FFD300;
}

textarea {
  resize: none;
  width: 100%;
  height: 250px;
  border: 2px solid #FFD300;
  padding: 20px;
  margin: 4% 0;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}
textarea::-webkit-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
textarea::-moz-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
textarea::-ms-input-placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}
textarea::placeholder {
  letter-spacing: 1.2px;
  opacity: 1;
}

.hamburger {
  display: none;
}

i.hamburger:hover,
i.hamburger:focus {
  color: #FFD300;
}

.hamburger li {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.hamburger a:hover,
.hamburger a:focus {
  border-bottom: 2px solid #FFD300;
}

footer {
  background-color: #0F0F0F;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .hamburger {
    display: inline-block;
    font-size: 2.5rem;
  }

  ul.sliding-menu {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 100vw;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 1;
  }

  input[type=checkbox]:checked + ul.sliding-menu {
    right: 0;
  }

  input[type=checkbox] {
    opacity: 0;
    position: relative;
  }

  label[for=toggle] {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    z-index: 10;
  }
}
.home header {
  background-image: url(../assets/home-header.jpg);
  position: relative;
}
.home header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.home header h1 span {
  color: black;
  background-color: white;
  padding: 10px 5px 0 5px;
  display: inline-block;
}
.home header .headerImage {
  width: 50%;
  position: absolute;
  right: 0px;
  bottom: -200px;
}
.home header .headerImage img {
  width: 100%;
}
.home .about {
  background-color: #2B331B;
  color: #FFFFFF;
  padding: 250px 0 150px;
}
.home .about .aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home .about .aboutFlex .aboutContainer {
  width: calc((100% / 2) - 50px);
  padding: 25px;
  position: relative;
}
.home .about .aboutFlex .aboutContainer i {
  position: absolute;
  left: -50px;
  font-size: 1.2rem;
  background-color: #FFD300;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 12px;
  color: #171B0E;
}
.home .about .aboutFlex .aboutContainer h2 {
  padding-bottom: 20px;
}
.home .menu {
  background-color: #171B0E;
  color: white;
}
.home .menu .menuFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home .menu .menuFlex .menuContainer {
  width: 45%;
}
.home .menu .menuFlex .menuImageContainerLeft {
  position: relative;
  bottom: 30px;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
}
.home .menu .menuFlex .menuTextContainerRight {
  padding-right: 150px;
}
.home .menu .menuFlex .menuTextContainerLeft {
  padding-left: 150px;
  text-align: right;
}
.home .menu .menuFlex .menuImageContainerRight {
  position: relative;
  top: 30px;
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}
.home .menu p {
  padding: 25px 0;
}
.home .contest {
  text-align: center;
  background-color: #2B331B;
  padding: 120px 0;
}
.home .contest h2 {
  color: #FFD300;
}
.home .contest p {
  color: #FFFFFF;
  padding: 25px 0;
}
.home .eco {
  background: #2B331B;
  padding: 100px 0;
}
.home .eco .ecoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .eco .ecoFlex .ecoImageContainer {
  width: 25%;
}
.home .eco .ecoFlex .ecoImageContainer img {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}
.home .eco .ecoFlex .ecoTextContainer {
  width: 75%;
  padding-left: 100px;
}
.home .eco h2 {
  color: #FFD300;
}
.home .eco p {
  color: #FFFFFF;
  margin: 15px 0;
}
.home .photoGallery {
  background-color: #171B0E;
  padding: 100px 0;
}
.home .photoGallery .photoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .photoGallery .photoFlex img {
  width: calc((100% / 3) - 30px);
}
@media (max-width: 980px) {
  .home .wrapper {
    width: 95%;
  }
  .home .headerImage {
    display: none;
  }
  .home .about {
    padding: 80px 0;
  }
  .home .about .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home .about .aboutFlex .aboutContainer {
    width: 80%;
    margin: 30px auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .about .aboutFlex .aboutContainer .aboutHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .about .aboutFlex .aboutContainer i {
    position: static;
    margin-right: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .home .menu {
    padding: 80px 0;
  }
  .home .menu .menuFlex .menuTextContainerRight {
    padding-right: 0;
  }
  .home .menu .menuFlex .menuTextContainerLeft {
    padding-left: 0;
  }
  .home .smallWrapper {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .home .index h1 {
    font-size: 3rem;
    padding-top: 70px;
  }
  .home h2 {
    font-size: 1.75rem;
  }
  .home .menu .menuFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .menu .menuFlex .menuContainer {
    width: 90%;
    text-align: center;
    margin: 50px 0;
  }
  .home .menu .menuFlex .menuImageContainerLeft {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
  }
  .home .menu .menuFlex .menuTextContainerRight {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home .menu .menuFlex .menuImageContainerRight {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: static;
  }
  .home .menu .menuFlex .menuTextContainerLeft {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .home .eco .ecoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .eco .ecoFlex .ecoImageContainer {
    width: 50%;
  }
  .home .eco .ecoFlex .ecoTextContainer {
    padding: 100px 0 0 0;
    text-align: center;
    width: 100%;
  }
  .home .photoGallery .photoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .photoGallery .photoFlex img {
    width: 60%;
    padding: 25px 0;
  }
}
@media (max-width: 480px) {
  .home .index h1 {
    font-size: 2.5rem;
  }
}

.blog header {
  background-image: url(../assets/blog-header.jpg);
}
.blog header h1 {
  padding: 60px 10px;
  font-weight: 400;
}
.blog main {
  background-color: #2B331B;
  color: #FFFFFF;
}
.blog main .mainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}
.blog aside {
  background: #171B0E;
  color: #FFFFFF;
  margin-top: 150px;
  margin-left: 60px;
  width: 25%;
}
.blog aside .asideImage {
  position: relative;
  right: 80px;
  bottom: 20px;
}
.blog aside .asideImage img {
  width: 115%;
}
.blog aside h3 {
  padding-bottom: 20px;
}
.blog .asideText {
  padding: 25px;
}
.blog .asideText .recentPosts {
  padding-top: 80px;
}
.blog .asideText .recentPosts li {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.blog .asideText .recentPosts li:before {
  content: "•";
  padding-right: 20px;
}
.blog .rightSection {
  width: 60%;
}
.blog .careers {
  position: relative;
  right: 0;
  bottom: 150px;
}
.blog .careers img {
  -webkit-box-shadow: -25px 25px #FFD300;
          box-shadow: -25px 25px #FFD300;
}
.blog .careers .sectionText {
  padding: 100px 75px 150px;
  border-left: 5px solid #FFD300;
  border-bottom: 5px solid #FFD300;
  margin-left: -25px;
}
.blog .careers .sectionText h2 {
  color: #FFD300;
}
.blog .careers .sectionText p {
  padding: 25px 0;
}
.blog .commentSection {
  position: relative;
  bottom: 100px;
}
.blog .commentSection h2 {
  padding-bottom: 40px;
}
.blog .commentSection .comment {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .commentSection .comment .commentImage {
  width: 10%;
}
.blog .commentSection .comment .commentText {
  width: 85%;
  padding-right: 50px;
}
.blog .commentSection .comment .date {
  color: #FFD300;
}
.blog form {
  bottom: 100px;
  padding-right: 70px;
}
.blog input:hover, .blog input:focus {
  background-color: #171B0E;
}
.blog textarea:hover, .blog textarea:focus {
  background-color: #171B0E;
}
.blog button {
  background-color: #FFD300;
  color: #171B0E;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding: 12px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 980px) {
  .blog .asideHeading {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .blog header h1 {
    padding-top: 200px;
  }
  .blog main .mainFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog aside {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog aside .asideImage {
    position: static;
    width: 40%;
  }
  .blog aside .asideImage img {
    width: 100%;
  }
  .blog aside .asideText {
    width: 60%;
  }
  .blog .rightSection {
    width: 100%;
  }
  .blog .careers {
    position: static;
  }
  .blog .commentSection {
    position: static;
    padding: 100px 0;
  }
  .blog .commentSection .comment .commentImage {
    width: 15%;
  }
  .blog .commentSection .comment .commentText {
    width: 80%;
    padding-right: 0px;
  }
  .blog form {
    padding: 20px;
  }
  .blog form input {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .blog aside .asideImage {
    display: none;
  }
  .blog aside .asideText {
    width: 100%;
  }
  .blog aside .asideText .recentPosts {
    padding-top: 50px;
  }
  .blog .careers .sectionText {
    padding-bottom: 100px;
  }
}

.contact header {
  background-image: url(../assets/contact-header.jpg);
}
.contact header h1 {
  padding: 60px 10px;
  font-weight: 400;
}
.contact main {
  background-color: #2B331B;
}
.contact .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contactTextCol {
  padding: 100px 0 0 80px;
  color: #FFFFFF;
}
.contact .contactTextCol .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding-bottom: 20px;
}
.contact .contactTextCol .socials a {
  color: #FFD300;
}
.contact .contactTextCol .address {
  padding-top: 20px;
}
.contact form {
  width: 85%;
  bottom: 120px;
  left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
  background-color: #171B0E;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
}
.contact input:hover, .contact input:focus {
  background-color: #2B331B;
}
.contact textarea:hover, .contact textarea:focus {
  background-color: #2B331B;
}
.contact button {
  background-color: #FFD300;
  color: #171B0E;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding: 12px;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 980px) {
  .contact .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .form {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: static;
    width: 100%;
  }
  .contact .form form {
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 20px;
  }
  .contact .form form input {
    width: 100%;
  }
  .contact .contactTextCol {
    padding: 50px 0;
    text-align: center;
  }
  .contact .contactTextCol .socials {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contactTextCol .socials li {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .contact header h1 {
    padding-top: 200px;
  }
}